.btn {
    display: flex;
    height: 100px;
    width: 80%;
    min-width: 350px;
    padding-top: 20px;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 35px;
    justify-content: center;
        &__colour {
        background-color: $colour-background;
        box-shadow: 0px 5px 20px #999;
        color: black;
        font-size: x-large;
            &--one {
                background-color: $colour-background;
                box-shadow: 0px 5px 20px #999;
                color: black;
                font-size: x-large;
                    &:hover {
                        transition-duration: 500ms;
                        background-color: $colour-background__order3;
                    }
            }
            &--two {
                background-color: $colour-background;
                box-shadow: 0px 5px 20px #999;
                color: black;
                font-size: x-large;
                    &:hover {
                        transition-duration: 500ms;
                        background-color: $colour-background__order3;
                    }
            }
            &--three {
                background-color: $colour-background;
                box-shadow: 0px 5px 20px #999;
                color: black;
                font-size: x-large;
                    &:hover {
                        transition-duration: 500ms;
                        background-color: $colour-background__order3;
                    }    
            }
          }
        &__gradiant-purple {
            background: linear-gradient($colour-primary, $colour-secondary);
            display: flex;
            width: 50%;
            height: 80px;
            min-width: 330px;
            margin: auto;
            margin-bottom: 80px;
            border-radius: 60px;
            justify-content: center;
            text-decoration: none;
            font-size: x-large;
            color: whitesmoke;
        &:hover {
            transform: scale(1.15);
            transition-duration: 500ms;
            box-shadow: 0px 5px 20px #999;
        }
        }
        &--restaurant{
            display: flex;
            width: 80%;
            height: 80px;
            padding-top: 20px;
            margin: auto;
            margin-bottom: 30px;
            border-radius: 25px;
            justify-content: center;
            flex-wrap: wrap;
        }
}

.btn--order__position {
    margin-top: 20px;
}

