/* logo et titre : Shrikhand 

font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Shrikhand', cursive;
*/

/* texte : roboto 
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Shrikhand', cursive;
*/

body {
    font-family: 'Roboto', sans-serif;
}
