/* logo et titre : Shrikhand 

font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Shrikhand', cursive;
*/

/* texte : roboto 
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Shrikhand', cursive;
*/

body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
    margin-left: 30px;
}
.menu h1{
    font-family: 'Shrikhand', cursive;
}
.menu h2{
    color: $colour-footer ;
    font-family: 'Roboto', sans-serif;
    width: 0;
}
.menu h2:after {
    content: "";
    width: 4rem;
    height: 0.25rem;
    background-color: $colour-new;
    position: absolute;

}
.menu p {
    font-family: 'Roboto', sans-serif;
}
.menu p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.explore h1 {
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    font-weight: bolder;
    margin: 5% 16% 0% 16%;
}
.explore p {
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    margin: 2% 10% 2% 10%;
    color: $colour-footer;
}
.explore a {
    margin: auto;
}

.order__titre p {
    margin-top: 10%;
}
.card__image p {
    position: absolute;
    margin-left: 240px;
    height: 25px;
    width: 85px;
    padding-top: 5px;
    border: 1px solid $colour-new;
    border-radius: 2px;
    text-align: center;
    color: $colour-new__text;
    background-color: $colour-new;
        @media (min-width: 1024px) {
            margin-left: 37%;
        }
}
footer h4 {
    font-family: 'Shrikhand', cursive;
}
