/* logo et titre : Shrikhand 

font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Shrikhand', cursive;
*/

/* texte : roboto 
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Shrikhand', cursive;
*/

body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
    margin-left: 30px;
}
.menu h1{
    font-family: 'Shrikhand', cursive;
}
.menu h2{
    color: $colour-footer ;
    font-family: 'Roboto', sans-serif;
}
.menu p {
    font-family: 'Roboto', sans-serif;
}
.menu p {
    flex-wrap: wrap;
}

.explore h1 {
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    font-weight: bolder;
    margin: 10% 16% 0% 16%;
}
.explore p {
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    margin: 2% 10% 0% 10%;
    color: $colour-footer;
}
.explore a {
    margin: auto;
}
.card__image p {
    position: absolute;
    left: 65%;
    height: 25px;
    width: 85px;
    padding-top: 5px;
    border: 1px solid $colour-new;
    border-radius: 2px;
    text-align: center;
    color: $colour-new__text;
    background-color: $colour-new;
}
footer h4 {
    font-family: 'Shrikhand', cursive;
}
