body {
    margin: auto;
    max-width: 669px;
    background-color: $colour-background;
}
header {
    display: flex;
    height: 80px;
    justify-content: center;
    background-color: $colour-background--two;
}

header img {
    margin: auto;
    height: 30px;

}
.locate {
    display: flex;
    background-color: $colour-background__locate;
    width: 100%;
    height: 70px;
    justify-content: center;
    font-weight: bolder;
}

.explore {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 350px;
    background-color: $colour-background;
}

.explore p {
    display: flex;
    width: 100%;
    justify-content: center;
}
/* penser à utiliser les variables pour jouer sur la couleurs des backgrounds */

#explore {
    display: flex;
    width: 100%;
    background-color:$colour-background;
    flex-direction: column;
}

.order {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: $colour-background--two;
}

nav {
    display: flex;
    flex-wrap: wrap;
}


footer {
    display: flex;
    margin: auto;
    padding-left: 20px;
    flex-direction: column;
    background-color: $colour-footer;
    color: whitesmoke;
}

footer nav a {
    display: flex;
    width: 100%;
}
