
.picture__restaurant {
    display: flex;
    width: 100%;
    height: 250px;
    margin: auto;
}

.picture__restaurant img {
    object-fit: cover;
    width: 100%;
    height: 350px;
}
/* pour chevaucher la photo sur le menu penser à margin bottom ou top en valeur negative */

.menu {
    border-radius: 30px 30px;
    background-color: $colour-background;
    position: relative;
}
.command {
    background-color: $colour-background;
}
