body {
    margin: auto;
    max-width: 669px;
    min-width: 360px;
    background-color: $colour-background;
}
header {
    display: flex;
    height: 80px;
    justify-content: center;
    background-color: $colour-background--two;
}

header img {
    margin: auto;
    height: 30px;

}
.locate {
    display: flex;
    background-color: $colour-background__locate;
    justify-content: center;
    font-weight: bolder;
    border-top: 5px solid rgba(153, 153, 153, 0.04);
}

.explore {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 360px;
    background-color: $colour-background;
}


/* penser à utiliser les variables pour jouer sur la couleurs des backgrounds */

#explore {
    display: flex;
    width: 100%;
    background-color:$colour-background;
    flex-direction: column;
}

.order {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: $colour-background--two;
    position: relative;
    z-index: 1;
}
.order__titre {
    display: flex;
    justify-content: center;
}
.order--number {
    display: flex;
    border-radius: 50%;
    background-color: #9356DC;
    height: 40px;
    width: 40px;
    justify-content: center;
    z-index: 3;
    right: 85%;
    margin-top: 10px;
    position: absolute;
}
.order--number p {
    margin: 25%;
    color: $colour-background--two;
}
nav {
    display: flex;
    flex-wrap: wrap;
}


footer {
    display: flex;
    margin: auto;
    padding-left: 20px;
    flex-direction: column;
    background-color: $colour-footer;
    color: whitesmoke;
}

footer a {
    width: 100%;
    display: flex;
    margin-top: -10px;
}
