body {
    margin: 0;
}
header {
    display: flex;
    justify-content: center;
    background-color: $colour-background--two;
}

.locate {
    display: flex;
    background-color: $colour-background__locate;
    width: 100%;
    justify-content: center;
    font-weight: bolder;
}

.explore {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
    background-color: $colour-background;
}

.explore h1 {
    display: flex;
    width: 100%;
    justify-content: center;
}

.explore p {
    display: flex;
    width: 100%;
    justify-content: center;
}
/* penser à utiliser les variables pour jouer sur la couleurs des backgrounds */

#explore {
    display: flex;
    width: 100%;
    background-color:$colour-background;
    flex-direction: column;
}

.order {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: $colour-background--two;
}

nav {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}


footer {
    display: flex;
    margin: auto;
    padding-left: 20px;
    flex-direction: column;
    background-color: $colour-footer;
    color: whitesmoke;
}

footer nav a {
    display: flex;
    width: 100%;
}
