
.picture__restaurant {
    display: flex;
    width: 100%;
    height: 250px;
    margin: auto;
}

.picture__restaurant img {
    object-fit: cover;
    width: 100%;
    height: 350px;
}
/* pour chevaucher la photo sur le menu penser à margin bottom ou top en valeur negative */
.titre {
    display: flex;
    flex-direction: row;
        &__restaurant {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
        }
        &__menu {
            font-weight: bolder;
            width: 90%;
            height: 50%;
            position: relative;
            bottom: 10%;
            left: 10%;
        }
        &--description {
            color: $colour-description;
            font-size: 13px;
            width: 90%;
            height: 50%;
            position: relative;
            bottom: 65%;
            left: 10%;

        }
}


.menu {
    border-radius: 30px 30px 0 0;
    background-color: $colour-background;
    position: relative;
        @media (min-width: 1024px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: 2%;
            margin-top: 2%;
        }
}
.section--entree {
    animation: sectionEntree 500ms ease-in-out;
        @media (min-width: 1024px) {
            width: 30%;
        }
}
.section--plat {
    animation: sectionPlat 1s ease-in-out;  
        @media (min-width: 1024px) {
            width: 30%;
        }
}
.section--dessert {
    animation: sectionDessert 1.5s ease-in-out;  
        @media (min-width: 1024px) {
            width: 30%;
        }
}
.bloc--text {
    display: flex;
    margin-top: 14px;
    font-size: 15px;
    margin-right: 10%;
    flex-wrap: wrap;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
        @media (min-width: 1024px) {
            width: 100%;
        }
}
.bloc--text__price {
    display: flex;
        @media (min-width:1024px) {
            position: relative;
            left: 20%;
        }
}
.price {
    display: flex;
    position: relative;
    top: 25%;
    right: 50%;
}
.command {
    background-color: $colour-background;
}

header i {
    position: absolute;
    top: 25px;
    left: 7%;
    font-size: xx-large;
    color: black;
}