@keyframes section--entree{
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
        transform: translateY(8px);
    }                     
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes section--plat{
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
        transform: translateY(8px);
    }                     
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes section--dessert{
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
        transform: translateY(8px);
    }                     
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
/* LOADER */

.container-loader {

    position: absolute;
    background: whitesmoke;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    transition: opacity 1s ease-in-out;
}

.dot{

    &-1{
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background: #000;
        margin: 0 15px;
        animation: loader infinite 0.3s alternate;
    }
    &-2 {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background: #000;
        margin: 0 15px;
        animation: loader infinite 0.3s alternate;
    }
    &-3 {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background: #000;
        margin: 0 15px;
        animation: loader infinite 0.3s alternate;
    }
}
@keyframes loader {
    100%{
        transform: translateY(-30px);
    }
}