/* SECTION ANIMATION MENU */

@keyframes section--entree{
    0% {
        opacity: 0;
        transform: translateY(8px);
    }
    50% {
        opacity: 0;
        transform: translateY(8px);
    }                     
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes section--plat{
    0% {
        opacity: 0;
        transform: translateY(8px);
    }
    50% {
        opacity: 0;
        transform: translateY(8px);
    }                     
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes section--dessert{
    0% {
        opacity: 0;
        transform: translateY(8px);
    }
    50% {
        opacity: 0;
        transform: translateY(8px);
    }                     
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
/* SECTION ANIMATION CHECKED */

.button--animation{
    width: 90%;
    height: 100px;
    border-radius: 25px;
    background-color:#FFF;
    &:hover{
        .checked-circle{
            animation: checked linear 1s;
            opacity: 1;
        }
        i {
            transform: rotate(360deg);
            transition-duration: 900ms;
            justify-content: center;
        }
    }
}
.btn--restaurant{
    &:hover{
        .checked-circle{
            animation: checked linear 500ms;
            opacity: 1;
        }
        i {
            transform: rotate(360deg);
            transition-duration: 500ms;
            justify-content: center;
        }
        .bloc--text__price {
            animation: text infinite 1s;
        }
    }
}

@keyframes text {
    0%{
        transform: translateX(-220%);
    }
    100%{
        transform: translateX(-220%);
    }
}

.checked-circle{
    position: absolute;
    height: 100px;
    width: 15%;
    border-radius: 0 20px 20px 0;
    background: $colour-new;
    right: 10%;
    opacity: 0;
}
@keyframes checked {
    0%{
        width: 0%;
    }
    50% {
        width: 10%;
    }
    100%{
        width: 15%;
    }
}

/*                     LOADER                        */


.loader-container{
    position: fixed;
    background: linear-gradient($colour-primary, $colour-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0; left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    color: #FFF;
    pointer-events: none;
    animation: finish linear 1s;
    animation-fill-mode: forwards;
    
}
.dot {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: $colour-background;
    margin: 0 15px;
    animation: loader infinite 0.3s alternate;
}
.d2 {
    animation-delay: 0.05s;
}
.d3 {
   animation-delay: 0.1s;
}

@keyframes loader {
    100%{
        transform: translateY(-30px);
    }
}
@keyframes finish {
    0%{
        opacity: 1;
    }
    99%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

/* heart*/
@keyframes fillHeart {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}