$colour-primary:#9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;

$colour-buttons: #e3e3e3;

$colour-footer: #353535;

$colour-background:#f6F6F6;
$colour-background--two:#ffffff;

$colour-background__locate:#EAEAEA;
$colour-background__order3:#F5EDFF;

$colour-description:#484848;
$colour-new:#99E2D0;
$colour-new__text: #4AAE94;

