@charset "UTF-8";
.btn {
  display: flex;
  height: 85px;
  width: 80%;
  min-width: 325px;
  max-width: 60%;
  padding-top: 20px;
  margin: auto;
  margin-bottom: 30px;
  border-radius: 35px;
  justify-content: center;
}
.btn__colour {
  background-color: #f6F6F6;
  box-shadow: 0px 5px 20px #999;
  color: black;
  font-size: large;
}
.btn__colour--one {
  background-color: #f6F6F6;
  box-shadow: 0px 5px 20px #999;
  color: black;
  font-size: larger;
  max-width: 325px;
}
.btn__colour--one:hover {
  transition-duration: 500ms;
  background-color: #F5EDFF;
}
.btn__colour--two {
  background-color: #f6F6F6;
  box-shadow: 0px 5px 20px #999;
  color: black;
  font-size: larger;
  max-width: 325px;
}
.btn__colour--two:hover {
  transition-duration: 500ms;
  background-color: #F5EDFF;
}
.btn__colour--three {
  background-color: #f6F6F6;
  box-shadow: 0px 5px 20px #999;
  color: black;
  font-size: larger;
  max-width: 325px;
}
.btn__colour--three:hover {
  transition-duration: 500ms;
  background-color: #F5EDFF;
}
.btn__gradiant-purple {
  background: linear-gradient(#9356DC, #FF79DA);
  display: flex;
  height: 80px;
  min-width: 330px;
  margin: auto;
  margin-bottom: 80px;
  border-radius: 60px;
  justify-content: center;
  text-decoration: none;
  font-size: x-large;
  color: whitesmoke;
}
@media (min-width: 1024px) {
  .btn__gradiant-purple {
    max-width: 40%;
  }
}
.btn__gradiant-purple:hover {
  transform: scale(1.15);
  transition-duration: 500ms;
  box-shadow: 0px 5px 20px #999;
}
.btn--restaurant {
  display: flex;
  width: 80%;
  height: 100px;
  margin: auto;
  margin-bottom: 30px;
  border-radius: 25px;
  justify-content: space-between;
  flex-wrap: nowrap;
}
@media (min-width: 1024px) {
  .btn--restaurant {
    width: 90%;
    max-width: 90%;
  }
}

.btn--order__position {
  margin-top: 20px;
}

.card-section__restaurants {
  display: flex;
}

.card {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  max-width: 350px;
  min-width: 350px;
  height: 280px;
  margin: auto auto 23px auto;
  border-radius: 20px;
  text-decoration: none;
  color: black;
  background-color: white;
  box-shadow: 0px 5px 20px #999;
  cursor: initial;
}
@media (min-width: 1024px) {
  .card {
    max-width: 45%;
  }
}

.card__image {
  display: flex;
  margin: 0;
  height: 70%;
  width: 100%;
  min-width: 100%;
  border-radius: 20px 20px 0 0;
}

.card__image img {
  object-fit: cover;
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.card-titre__restaurants {
  font-weight: bold;
  display: flex;
  width: 80%;
  min-width: 80%;
  font-size: 20px;
  margin-left: 15px;
  margin-top: 15px;
}
.card-titre__ville {
  display: flex;
  width: 80%;
  min-width: 80%;
  margin-left: 15px;
  margin-top: -15px;
}

body {
  margin: auto;
  min-width: 360px;
  background-color: #f6F6F6;
}

header {
  display: flex;
  height: 80px;
  justify-content: center;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 0px #484848;
  position: relative;
}

header img {
  margin: auto;
  height: 45%;
}

.locate {
  display: flex;
  background-color: #EAEAEA;
  justify-content: center;
  font-weight: bolder;
  height: 55px;
}

.explore {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 360px;
  background-color: #f6F6F6;
}

/* penser à utiliser les variables pour jouer sur la couleurs des backgrounds */
#explore {
  display: flex;
  width: 100%;
  background-color: #f6F6F6;
  flex-direction: column;
}

.order {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #ffffff;
  position: relative;
}

@media (min-width: 1024px) {
  .order__bloc {
    display: flex;
    flex-direction: row;
  }
}

.order__titre {
  display: flex;
  justify-content: center;
}

.order--number {
  display: flex;
  border-radius: 50%;
  background-color: #9356DC;
  height: 40px;
  width: 40px;
  justify-content: center;
  z-index: 3;
  margin-right: 328px;
  margin-top: 10px;
  position: absolute;
}

.order--number p {
  margin: 25%;
  color: #ffffff;
}

nav {
  display: flex;
  flex-wrap: wrap;
}

footer {
  display: flex;
  margin: auto;
  padding-left: 20px;
  flex-direction: column;
  background-color: #353535;
  color: whitesmoke;
}

footer a {
  width: 100%;
  display: flex;
  margin-top: -10px;
  color: whitesmoke;
  text-decoration: none;
}

.picture__restaurant {
  display: flex;
  width: 100%;
  height: 250px;
  margin: auto;
}

.picture__restaurant img {
  object-fit: cover;
  width: 100%;
  height: 350px;
}

/* pour chevaucher la photo sur le menu penser à margin bottom ou top en valeur negative */
.titre {
  display: flex;
  flex-direction: row;
}
.titre__restaurant {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.titre__menu {
  font-weight: bolder;
  width: 90%;
  height: 50%;
  position: relative;
  bottom: 10%;
  left: 10%;
}
.titre--description {
  color: #484848;
  font-size: 15px;
  width: 70%;
  height: 50%;
  position: relative;
  bottom: 65%;
  left: 10%;
}

.titre__restaurant i {
  margin-left: 45%;
  padding-right: 7%;
  margin-top: 4%;
}

.menu {
  border-radius: 30px 30px 0 0;
  background-color: #f6F6F6;
  position: relative;
}
@media (min-width: 1024px) {
  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2%;
    margin-top: 2%;
  }
}

.section--entree {
  animation: sectionEntree 500ms ease-in-out;
}
@media (min-width: 1024px) {
  .section--entree {
    width: 30%;
  }
}

.section--plat {
  animation: sectionPlat 1s ease-in-out;
}
@media (min-width: 1024px) {
  .section--plat {
    width: 30%;
  }
}

.section--dessert {
  animation: sectionDessert 1.5s ease-in-out;
}
@media (min-width: 1024px) {
  .section--dessert {
    width: 30%;
  }
}

.bloc--text {
  display: flex;
  margin-top: 2%;
  flex-wrap: wrap;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (min-width: 1024px) {
  .bloc--text {
    width: 100%;
  }
}

.bloc--text__price {
  display: flex;
}
@media (min-width: 1024px) {
  .bloc--text__price {
    position: relative;
    left: 20%;
  }
}

.price {
  display: flex;
  position: relative;
  top: 25%;
  right: 50%;
}

.command {
  background-color: #f6F6F6;
}

header i {
  position: absolute;
  top: 25px;
  left: 7%;
  font-size: xx-large;
  color: black;
}

/* logo et titre : Shrikhand 

font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Shrikhand', cursive;
*/
/* texte : roboto 
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Shrikhand', cursive;
*/
body {
  font-family: "Roboto", sans-serif;
}

h1, h2, h3 {
  margin-left: 30px;
}

.menu h1 {
  font-family: "Shrikhand", cursive;
}

.menu h2 {
  color: #353535;
  font-family: "Roboto", sans-serif;
  width: 0;
}

.menu h2:after {
  content: "";
  width: 4rem;
  height: 0.25rem;
  background-color: #99E2D0;
  position: absolute;
}

.menu p {
  font-family: "Roboto", sans-serif;
}

.menu p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.explore h1 {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  font-weight: bolder;
  margin: 5% 16% 0% 16%;
}

.explore p {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  margin: 2% 10% 2% 10%;
  color: #353535;
}

.explore a {
  margin: auto;
}

.order__titre p {
  margin-top: 10%;
}

.card__image p {
  position: absolute;
  margin-left: 240px;
  height: 25px;
  width: 85px;
  padding-top: 5px;
  border: 1px solid #99E2D0;
  border-radius: 2px;
  text-align: center;
  color: #4AAE94;
  background-color: #99E2D0;
}
@media (min-width: 1024px) {
  .card__image p {
    margin-left: 37%;
  }
}

footer h4 {
  font-family: "Shrikhand", cursive;
}

/* FONT AWESOME SECTION */
.fa-map-marker-alt {
  margin: 17px 15px;
}

.fa-mobile-alt {
  margin: 25px 10px;
}

.fa-list-ul {
  margin: 25px 10px;
}

.fa-store {
  margin: 25px 10px;
}

.heart__box {
  position: relative;
  bottom: 10%;
}
.heart__box svg {
  width: 30px;
  height: 30px;
}
.heart__box:hover #full-heart {
  animation: 2s fillHeart linear;
  animation-fill-mode: forwards;
}

.heart__box--menu {
  position: relative;
  right: 30px;
  top: 25px;
}
.heart__box--menu svg {
  width: 30px;
  height: 30px;
}
.heart__box--menu:hover #full-heart {
  animation: 2s fillHeart linear;
  animation-fill-mode: forwards;
}

#full-heart {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.fa-utensils {
  margin: 18px 8px 0px 0px;
  padding-right: 7px;
}

.fa-hands-helping {
  margin: 18px 8px 0px 0px;
}

.fa-check-circle {
  position: absolute;
  top: 35%;
  left: 35%;
  font-size: xx-large;
  color: #f6F6F6;
}
@media (min-width: 1024px) {
  .fa-check-circle {
    position: relative;
  }
}

/* SECTION ANIMATION MENU */
@keyframes sectionEntree {
  0% {
    opacity: 0;
    transform: translateY(8px);
  }
  50% {
    opacity: 0;
    transform: translateY(8px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes sectionPlat {
  0% {
    opacity: 0;
    transform: translateY(8px);
  }
  50% {
    opacity: 0;
    transform: translateY(8px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes sectionDessert {
  0% {
    opacity: 0;
    transform: translateY(8px);
  }
  50% {
    opacity: 0;
    transform: translateY(8px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* SECTION ANIMATION CHECKED */
.button--animation {
  width: 90%;
  height: 100px;
  border-radius: 25px;
  background-color: #FFF;
}
.button--animation:hover .checked-circle {
  animation: checked linear 1s;
  opacity: 1;
}
.button--animation:hover i {
  transform: rotate(360deg);
  transition-duration: 900ms;
  justify-content: center;
}

.btn--restaurant:hover .checked-circle {
  animation: checked linear 500ms;
  opacity: 1;
}
@media (min-width: 1024px) {
  .btn--restaurant:hover .checked-circle {
    animation: checkedQuerie1 linear 500ms;
    opacity: 1;
  }
}
.btn--restaurant:hover i {
  transform: rotate(360deg);
  transition-duration: 500ms;
  justify-content: center;
}
.btn--restaurant:hover .bloc--text__price {
  animation: text infinite 1s;
}

@keyframes text {
  0% {
    margin-right: 20%;
  }
  100% {
    margin-right: 20%;
  }
}
.checked-circle {
  position: absolute;
  height: 100px;
  width: 15%;
  border-radius: 0 20px 20px 0;
  background: #99E2D0;
  right: 10%;
  opacity: 0;
}
@media (min-width: 1024px) {
  .checked-circle {
    position: inherit;
    width: 40%;
  }
}

@keyframes checked {
  0% {
    width: 0%;
  }
  50% {
    width: 10%;
  }
  100% {
    width: 15%;
  }
}
/* Zone d'animation pour les mediaQueries */
@keyframes checkedQuerie1 {
  0% {
    width: 0%;
  }
  50% {
    width: 20%;
  }
  100% {
    width: 40%;
  }
}
/*                     LOADER                        */
.loader-container {
  position: fixed;
  backdrop-filter: blur(15px);
  background-color: rgba(182, 182, 182, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  color: #FFF;
  pointer-events: none;
  animation: finish linear 2s;
  animation-fill-mode: forwards;
}

.dot {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #9356DC;
  margin: 0 15px;
  animation: loader infinite 0.3s alternate;
}

.d2 {
  animation-delay: 0.05s;
  background: #FF79DA;
}

.d3 {
  animation-delay: 0.1s;
  background: #99E2D0;
}

@keyframes loader {
  100% {
    transform: translateY(-30px);
  }
}
@keyframes finish {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* heart*/
@keyframes fillHeart {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
