@charset "UTF-8";
.btn {
  display: flex;
  height: 100px;
  width: 80%;
  padding-top: 20px;
  margin: auto;
  margin-bottom: 30px;
  border-radius: 35px;
  justify-content: center;
}
.btn__colour {
  background-color: #f6F6F6;
  box-shadow: 0px 5px 20px #999;
  color: black;
  font-size: x-large;
}
.btn__colour--two {
  background-color: #f6F6F6;
  box-shadow: 0px 5px 20px #999;
  color: black;
  font-size: x-large;
}
.btn__colour--three {
  background-color: #F5EDFF;
  box-shadow: 0px 5px 20px #999;
  color: black;
  font-size: x-large;
}
.btn__gradiant-purple {
  background: linear-gradient(#9356DC, #FF79DA);
  display: flex;
  width: 50%;
  min-width: 330px;
  margin: auto;
  margin-bottom: 80px;
  border-radius: 60px;
  justify-content: center;
  text-decoration: none;
  font-size: x-large;
  color: whitesmoke;
}

.btn--order__position {
  margin-top: 20px;
}

.card-section__restaurants {
  display: flex;
}

.card {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  height: 300px;
  margin: auto auto 30px auto;
  border-radius: 20px;
  text-decoration: none;
  color: black;
  background-color: white;
  box-shadow: 0px 5px 20px #999;
}

.card__image {
  display: flex;
  margin: 0;
  height: 70%;
  width: 100%;
  min-width: 100%;
  border-radius: 20px 20px 0 0;
}

.card__image img {
  object-fit: cover;
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.card-titre__restaurants {
  display: flex;
  width: 80%;
  min-width: 80%;
  margin-left: 20px;
}

body {
  margin: 0;
}

header {
  display: flex;
  height: 80px;
  justify-content: center;
  background-color: #ffffff;
}

header img {
  margin: auto;
  height: 30px;
}

.locate {
  display: flex;
  background-color: #EAEAEA;
  width: 100%;
  height: 70px;
  justify-content: center;
  font-weight: bolder;
}

.explore {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 350px;
  background-color: #f6F6F6;
}

.explore p {
  display: flex;
  width: 100%;
  justify-content: center;
}

/* penser à utiliser les variables pour jouer sur la couleurs des backgrounds */
#explore {
  display: flex;
  width: 100%;
  background-color: #f6F6F6;
  flex-direction: column;
}

.order {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #ffffff;
}

nav {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

footer {
  display: flex;
  margin: auto;
  padding-left: 20px;
  flex-direction: column;
  background-color: #353535;
  color: whitesmoke;
}

footer nav a {
  display: flex;
  width: 100%;
}

.picture__restaurant {
  display: flex;
  width: 100%;
  height: 250px;
  margin: auto;
}

.picture__restaurant img {
  object-fit: cover;
  width: 100%;
  height: 350px;
}

/* pour chevaucher la photo sur le menu penser à margin bottom ou top en valeur negative */
.menu {
  border-radius: 30px 30px;
  background-color: #f6F6F6;
  position: relative;
}

.command {
  background-color: #f6F6F6;
}

/* logo et titre : Shrikhand 

font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Shrikhand', cursive;
*/
/* texte : roboto 
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Shrikhand', cursive;
*/
body {
  font-family: "Roboto", sans-serif;
}

h1, h2, h3 {
  margin-left: 30px;
}

.menu h1 {
  font-family: "Shrikhand", cursive;
}

.explore h1 {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 50px;
}

footer h4 {
  font-family: "Shrikhand", cursive;
}

/* FONT AWESOME SECTION */
.fa-map-marker-alt {
  margin: 17px 15px;
}

.fa-mobile-alt {
  margin: 25px 10px;
}

.fa-list-ul {
  margin: 25px 10px;
}

.fa-store {
  margin: 25px 10px;
}

.fa-heart {
  margin-top: 20px;
}

.fa-utensils {
  margin: 16px 5px 5px 5px;
}

.fa-hands-helping {
  margin: 16px 5px 5px 5px;
}

/*# sourceMappingURL=style.css.map */
